<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kernal.smartvision">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 关闭该包下的所有应用程序 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!-- 获取机型信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 访问internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 闪光灯权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.3" />

        <activity android:name=".activity.SmartvisionCameraActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            />

        <activity
            android:name="com.kernal.smartvision.activity.SmartvisionSettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.kernal.smartvision.activity.PictureRecogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
        </activity>

        <service
            android:name="com.kernal.smartvisionocr.RecogService"
            android:enabled="true" >
            <intent-filter>
                <action android:name="kernal.smartvisionocr.recogService" />
            </intent-filter>
        </service>
    </application>

</manifest>
