<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eb.geaiche">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 4.2以上的手机需要的权限 -->
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" /> <!-- 访问INTERNET的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 手机信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- ************************************* -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 在SD卡中创建文件与删除文件权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" /> <!-- 传感器 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 开启闪光灯权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!-- 蓝牙打印机 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_login"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_login"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon,android:theme">
        <activity android:name=".activity.CarCheckAddActivity"></activity>
        <activity android:name=".activity.CarCheckSetingActivity" />
        <activity android:name=".activity.CouponWriteRecordActivity" />
        <activity android:name=".activity.CouponWriteSuccessActivity" />
        <activity android:name=".activity.CouponWriteActivity" />
        <activity android:name=".stockControl.activity.UnOrderPickStockActivity" />
        <activity android:name=".maneuver.activity.ManeuverJoinListActivity" />
        <activity android:name=".vehicleQueue.VehicleQueueActivity" />
        <activity android:name=".activity.DiscountRecordActivity" />
        <activity android:name=".maneuver.activity.MyAskActivity" />
        <activity android:name=".coupon.CouponPickUserActivity" />
        <activity
            android:name=".coupon.CouponPostActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".coupon.CouponPostRecordActivity" />
        <activity android:name=".coupon.CouponNewActivity" />
        <activity android:name=".coupon.CouponListActivity" />
        <activity android:name=".mall.MallHomeActivity" />
        <activity android:name=".activity.MallGoodsVinScanActivity" />
        <activity android:name=".activity.MeritsDistriListActivity" />
        <activity android:name=".activity.MeritsDistributionActivity" />
        <activity android:name=".maneuver.activity.ManeuverInfoActivity" />
        <activity android:name=".maneuver.activity.ManeuverActivity" />
        <activity
            android:name=".stockControl.activity.StockOutActivity"
            android:launchMode="singleTask" />
        <activity android:name=".stockControl.activity.SupplierAddOrFixActivity" />
        <activity android:name=".stockControl.activity.SupplierListActivity" />
        <activity
            android:name=".stockControl.activity.StockAddStandardsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".stockControl.activity.StockAddGoodsActivity"
            android:launchMode="singleTask" />
        <activity android:name=".stockControl.activity.StockInOrOutRecordActivity" />
        <activity android:name=".stockControl.activity.StockInOrOutInfoActivity" />
        <activity
            android:name=".stockControl.activity.StockInActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stockControl.activity.StockControlActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.eb.geaiche.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5c85fd4920365754e2000cfb" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="gac" />

        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.MemberManagementActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StaffManagementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProductListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.ActivityPackageListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BillListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MemberInfoInputActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.CarInfoInputActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.MakeOrderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MealListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TechnicianListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MakeOrderSuccessActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderPayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.OrderDoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyBalanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BillListItemInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AutoBrandActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MemberManagementInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShopInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CarInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PickCoupons"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CourseEnrolmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CashWithdrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AuthenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.LoginActivity2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetProjectActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ServeListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.WeiXinPayCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProductMealListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.AutographActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.PreviewActivity2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ActivateCardActivity"
            android:launchMode="singleTask" />
        <activity android:name=".mvp.PickMealCardActivity" />
        <activity
            android:name=".mvp.FixInfoDescribeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".mvp.FixInfoListActivity" />
        <activity android:name=".mvp.FixInfoPartsAndServerActivity" />
        <activity
            android:name=".mvp.FixInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".mvp.FixPickServiceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".mvp.FixPickPartsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".mvp.CustomPartsActivity" />
        <activity android:name=".activity.OrderList4DayActivity" />
        <activity android:name=".activity.ChangeStoreActivity" />
        <activity android:name=".activity.OrderSearch" />
        <activity android:name=".activity.CustomRecordsActivity" />
        <activity
            android:name=".activity.UserAuthorizeActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.CourseListActivity" />
        <activity
            android:name=".mvp.CourseInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".activity.CourseRecordActivity" />
        <activity
            android:name=".activity.CarVinDISActivity"
            android:launchMode="singleTask" />
        <activity android:name=".TestActivity" />
        <activity android:name=".mvp.MarketingToolsActivity" />
        <activity android:name=".mvp.MessageMarketingActivity" />
        <activity android:name=".activity.PickCarOwnerActivity" /> <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ddshare.DDShareActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101555807" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activity.OrderListActivity" />
        <activity android:name=".activity.CollegeActivity" />
        <activity android:name=".activity.MessageCreateActivity" />

        <service
            android:name=".service.GeTuiPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />
        <service android:name=".service.GeTuiIntentService" />

        <activity android:name=".activity.ProductMealActivity" />
        <activity android:name=".activity.RecruitActivity" />
        <activity android:name=".activity.TechnicianInfoActivity" />
        <activity
            android:name=".activity.OrderNewsListActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.StaffInfoFixActivity" />
        <activity android:name=".activity.WorkOrderListActivity" />
        <activity android:name=".activity.MemberInfoFixActivity" />
        <activity android:name=".activity.MemberRecordActivity" />
        <activity android:name=".activity.CarCheckResultListActivity" />
        <activity
            android:name=".activity.CarCheckResultActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShopCarListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MallActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MallTypeActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.MallGoodsActivity" />
        <activity android:name=".activity.MallGoodsInfoActivity" />
        <activity
            android:name=".mvp.ShoppingCartActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.NewInventoryActivity" />
        <activity android:name=".activity.MallMakeOrderActivity" />
        <activity
            android:name=".activity.MallMakeOrderInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.OrderForFixActivity" />
        <activity android:name=".activity.MallOrderAllListActivity" />
        <activity android:name=".activity.PreviewZoomActivity" />
        <activity android:name=".zbar.CaptureActivity" />
    </application>

</manifest>